body{
  background: #eee;
}
.flex-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  text-align: center;
  color: #2ECC71;
}
.plateBox{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.todosPlate{
  flex-shrink:1;
  flex-grow: 0;
  flex-basis: 465px;
  background: #fff;
  min-height: 240px;
  box-shadow: 5px 5px 30px  rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  justify-content: space-between;
}
.todosTop{
  display: flex;
  flex-direction: column;
}
.inputDos{
  display: flex;
  overflow: hidden;
}
.inputDos input{
  width: 90%;
  height: 52px;
  border: none;
  border-bottom: 2px solid #efefef;
  color: #999;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
}
.inputDos input::-webkit-input-placeholder{
  color: #eee;
  font-size: 18px;

}
.doItem{
  color: #2ECC71;
}
.doItem .doItemContent{
  width: 90%;
  height: 52px;
  border: none;
  border-bottom: 1px solid #efefef;
  color: #999;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  float: right;
}
.inputDos .selectAll,.selectThis{
  width: 18px;
  height: 18px;
  border: 1px solid #2ECC71;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  margin: 16px 12px;
  position: relative;
  transition: 0.3s;
}
.doItem .checkboxItem{
  /* display: none; */
}
input[type='checkbox']:checked+.selectThis,input[type='checkbox']:checked+.selectAll{
  background: #2ECC71;
}
input[type='checkbox']:checked+.selectThis::before,input[type='checkbox']:checked+.selectAll::before{
  content: "";
  position: absolute;
  width: 5px;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  top:10px;
  left: 3px;
}
input[type='checkbox']:checked+.selectThis::after,input[type='checkbox']:checked+.selectAll::after{
  content: '';
  position: absolute;
  width: 10px;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  top:9px;
  left: 6px;
}
input[type='checkbox']:checked+.selectThis+.doItemContent{
  text-decoration: line-through;
  color: #BDC3C7;
}
.calculator{
  width: 100%;
}
.calcPlate{
  padding: 5px 15px;
  height: 30px;
  border-top: 1px solid #2ECC71;
  color: #2ECC71;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end; 
}
.leftCount{
  line-height: 30px;
  font-size: 12px;
}
.clearBtn{
  line-height: 30px;
  width: 124px;
  height: 30px;
  background: #2ECC71;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-size: 12px;
  cursor: default;
}
  